.social-title {
  border-bottom: 0.1em solid $page-break;
  padding: 0.05em 0.3em;
}

.me {
  min-height: 100% !important;
}

.presentation  {
  margin: auto;
  color: $dark-gray;

  h1, h2, h3 {
    font-family: $heading-font-family;
  }

  h2 {
    font-weight: 900;
    font-size: $h1;
    letter-spacing: -0.01em;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    letter-spacing: 0.16em;
  }

  h4 {
    font-family: $font-family;
    font-weight: 500;
    color: $mid-gray;
  }
}

.aborder {
  position: relative;
  text-align: left;
}

.aborder.ainverted:after {
  background: $page-break;
}

.aborder:after {
  left: 0;
  margin-left: 0;
}

.aborder:after {
  content: "";
  position: absolute;
  width: 52px;
  height: 5px;
  background: $dark-gray-2;
  left: 0%;
  bottom: 0;
  margin-left: 0;
}

.site-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.site-header {
  background: $header-background;

  .social-icons a {
    font-size: $h3;
    margin-top: 1rem;
  }

  .me .social-icons a {
    font-size: $h2 !important;
    color: $dark-gray-2;
  }
}

.my-name {
  font-size: $my-name;
}
